#map{
    width: 800px;
    height: 700px;
    margin: 20px;
}

.margin-right{
    margin-right: 50px;
}

.margin-top{
    margin-top: 20px;
}

.custom-error{
    margin: 0 auto;
    width: 700px;
    padding: 20px;
    color: #fff;
    font-size: 15px;
}

.custom-error a:link, .custom-error a:visited{
    color: #fff;
    text-decoration: underline;
}