@font-face {
    font-family: 'distantStroke'; /*a name to be used later*/
    src: url('font/Distant_Stroke_Medium.otf'); /*URL to font*/
}

.content {
    width: 100%;
    position: relative;
    display: block;
    min-height: 500px;
    margin-bottom: 0;
    padding-bottom: 0;
}

body{
    background-color: #D0CCC5;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#chart_div_overall, #chart_div_month{
    width: 600px;
    height: 400px;
}

.chart_div_overall{
    text-align: center;
}

.title{
    font-family: 'distantStroke', "Book Antiqua", Palatino, serif;
    font-size: 80px;
}

.custom-error{
    margin: 0 auto;
    width: 700px;
    padding: 20px;
    color: #fff;
    font-size: 15px;
    text-align: center;
}

.custom-error a:link, .custom-error a:visited{
    color: #fff;
    text-decoration: underline;
}

.overall{
}

.margin-top{
    margin-top: 20px;
}

.padding-bottom{
    padding-bottom: 10px;
}

.margin-top-left{
    margin-top: 44px;
}

.margin-top-right{
    margin-top: 30px;
}

.tagDetails{
    position: relative;
    height: 400px;
    width: 100%;
    display: block;
}

.centerDiv{
    width: 80%;
    margin: 0 auto;
}

.imageHolder {
    border: 1px solid #333;
    box-shadow: 10px 10px 5px #333;
    border-radius: 10px;
    width: 500px;
    position: fixed;
    background-color: #eee;
    top: 50%;
}

.detailsTitle{
    text-align: center;
    padding-bottom: 10px;
    color: #333;
    border-bottom: 1px solid #eee;
}

.index-info{
    margin: 0 auto;
    padding: 20px;
    background-color: #A09C95;
    height: 300px;
    width: 60%;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 10px;
}

.index-info p{
    padding-top: 50px;
}


.index-info img{
    opacity: 0.5;
    padding-right: 10px;
}

#darkBackground{
    height: 100%;
    width: 100%;
    background-color: #333333;
    padding:0;
    margin:0;
    opacity: 0.7;
    top: 0;
    left: 0;
    position: fixed;
}

#paginationContainer{
    width: 100%;
}

.info-overall{
    border: 1px solid #000;
    min-height: 500px;
}

.info-month{
    border: 1px solid #000;
    min-height: 500px;
}

.no-tags{
    text-align: center;
}

.height{
    min-height: 70px;
}

.btnContainer{
    margin: 0 auto;
    width: 80%;
    text-align: center;
    padding-bottom: 20px;
}

#btnPrev{
    padding-right: 10px;
}

#caption{
    margin-top: 400px;
}

.thumbnail{
    background-color: #eee;
}